<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389825140897-i18di1d10d695nk6hkgicpv9j1g3j1l5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389825140897-i18di1d10d695nk6hkgicpv9j1g3j1l5</string>
	<key>API_KEY</key>
	<string>AIzaSyBYvcfiK4rESXpaPbwqnZq1Ooiur3-DEk0</string>
	<key>GCM_SENDER_ID</key>
	<string>389825140897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wakaba.PureFilter</string>
	<key>PROJECT_ID</key>
	<string>purefilter-da8a5</string>
	<key>STORAGE_BUCKET</key>
	<string>purefilter-da8a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389825140897:ios:d9e91e427e26d7e29178e0</string>
</dict>
</plist>